:root {
  --ns-yellow: 255, 201, 23;
  --ns-blue: rgb(0, 48, 130);
  --ns-light-blue: rgb(0, 99, 211);
  --ns-black: rgb(0, 0, 0);
  --ns-white: rgb(255, 255, 255);

  --background: rgb(var(--ns-yellow));
  --highlight: var(--ns-blue);
  --text: var(var(--ns-black));
  --light-text: var(var(--ns-black));
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: var(--ns-blue);
    --highlight: rgb(var(--ns-yellow));
  }
  html {
    color-scheme: dark;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  background: var(--background);
  padding: 0.5em;
}

h2 {
  color: var(--highlight);
  padding-block: 0.6em;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  background: transparent;
  border: none;
  cursor: pointer;
  color: inherit;
  font: inherit;
  line-height: normal;
  margin: 0;
  overflow: visible;
  padding: 0;
  width: auto;
}

.inputs {
  display: flex;
  justify-content: space-between;
  padding-block-end: 1em;
}

.searching {
  display: flex;
  gap: 1em;
}

.number-of-results {
  font-size: 0.9em;
}

.history-button {
  border-bottom: 1px solid var(--ns-light-blue);
  padding-inline: 1em;
}

.history-is-open {
  position: absolute;
  top: 1em;
  right: 1em;
  background: var(--highlight);
  color: var(--background);
  padding: 3em;
  border-radius: 1em;
  border: 1px solid var(--background);
  z-index: 1;
}

.history-is-open .close {
  display: flex;
  justify-content: end;
  padding-block-end: 1em;
}

.history-is-open button {
  display: block;
}
.history-is-open h3 {
  padding-block-end: 0.5em;
}

.history-is-closed {
  display: none;
}

.rate-limit-exceeded {
  display: flex;
  align-items: center;
  height: 400px;
  font-size: 2em;
  justify-content: center;
}

.results {
  border-collapse: collapse;
  width: 100%;
}

.results td {
  padding-block: 1em;
  padding-inline: 0.3em;
}

.results thead tr {
  background: var(--highlight);
  color: var(--background);
}

.results tbody tr:nth-of-type(2n) {
  background: rgba(255, 255, 255, 0.1);
}

.results .name {
  display: flex;
  align-items: center;
  gap: 0.5em;
}

.results .start {
  opacity: 0.7;
  font-size: 0.9em;
}

.results .end {
}

.results .no-wrap-cell {
  width: 20%;
  max-width: 20%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.results .no-topic,
.results .no-language {
  opacity: 0.5;
  font-style: italic;
  font-size: 0.7em;
}

.results .topic-pill {
  color: var(--ns-black);
  font-size: 0.8em;
  padding-block: 0.1em;
  padding-inline: 0.4em;
  margin: 0.1em;
  border-radius: 0.4em;
}
